# --- General & Credentials ---
.env
.env.*
!.env.example
*.pem
*.key
creds.json
secrets.json

# --- Marimo / Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
**/.marimo.toml

# --- Terraform ---
**/terraform/*
**/.tfstate
**/.tfstate.*
**/.tfvars
**/.tfvars.json

# Others
/.zed
/book_nbs
/chapters-my-work
/temp.py
**/__marimo__/session/*.py.json
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_amd64/terraform-provider-azurerm_v3.117.1_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
